# This is Git's per-user configuration file.
[user]
  user = Carlos Saura
  email = carlos@csaura.com
[core]
  editor = vim
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
[push]
  default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
